html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    /* Desgradado lineal (valor1-inicila, valor2-final)*/
    background: linear-gradient(#212529, #6c757d);
}
.contenedor{
    /* varlo1(superior y inferior) valor2(Inquierza y derecha)*/
    /*auto en izquierda y derecha para centrar*/
    margin: 50px auto;
    /*Establecemos el ancho para que se centre*/
    width: 400px;
    padding: 30px;
    /*rgb(0,0,0,  .alor(nivel de trasparencia))*/
    background: rgb(0,0,0, .5);
    /*Ezquinas redondeadas*/
    border-radius: 10px;
}
.contenedor h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #4cc9f0;
    text-align: center;
}
.contenedor .elemento label{
    color: #fff;
}
.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid  #fff;
    margin-bottom: 30px;
}
/*Aplicamos estilos a los elementos de tipo submit*/
.contenedor .elemento input[type="submit"]{
    background-color: #f72585;
    border: none;
    /*Separar letras*/
    letter-spacing: 5px;
    /*Mostrar los textos en mayusculas*/
    text-transform: uppercase;
    /*Cambiar el diseño del maus a click*/
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
}